body {
  background-color: #F5F5F5;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .wrapper {
    max-width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 545px) {
  .wrapper {
    padding: 0 10px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 45px 0;
}
@media (max-width: 885px) {
  .header {
    position: fixed;
    width: 100%;
    background-color: #F5F5F5;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 30px 18px 20px;
    z-index: 1000;
  }
}
.header__logo {
  color: #000000;
}
@media (max-width: 885px) {
  .header__menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-100%);
    transition: 200ms ease-in;
  }
  .header__menu .menu__link {
    color: #FFFFFF;
  }
  .header__menu_active {
    transform: translateX(0);
  }
}

.burger {
  display: none;
  transition: 100ms ease-in;
  cursor: pointer;
}
@media (max-width: 885px) {
  .burger {
    display: block;
    position: fixed;
    right: 20px;
  }
}
@media (max-width: 545px) {
  .burger {
    right: 10px;
  }
}
.burger__line {
  position: relative;
  width: 19px;
  height: 1px;
  background-color: #000000;
  margin-bottom: 4px;
}
.burger__line:last-child {
  margin-bottom: 0;
}
.burger_active .burger__line {
  background-color: #FFFFFF;
}
.burger_active .burger__line:nth-child(1) {
  transform: rotate(45deg);
  top: 2.5px;
}
.burger_active .burger__line:nth-child(2) {
  display: none;
}
.burger_active .burger__line:nth-child(3) {
  transform: rotate(-45deg);
  top: -2.5px;
}

.logo {
  text-decoration: none;
  margin-bottom: 30px;
}
@media (max-width: 885px) {
  .logo {
    margin-bottom: 0px;
  }
}
.logo__img {
  display: block;
  margin: 0 auto;
}
@media (max-width: 885px) {
  .logo__img {
    width: 33px;
  }
}
.logo__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 32px;
}
@media (max-width: 885px) {
  .logo__text {
    font-size: 11px;
  }
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}
.menu__item {
  overflow: hidden;
}
.menu__link {
  color: #000000;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 18px;
}
.menu__link::after {
  position: relative;
  left: -1px;
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #000000;
  margin-top: 2px;
  transform: translateX(-100%);
  transition: 200ms ease-in;
}
.menu__link:hover::after {
  transform: translateX(0);
  left: 0px;
}

@media (max-width: 885px) {
  .main {
    padding-top: 100px;
  }
}

.news__block {
  display: flex;
  gap: 79px;
  align-items: center;
  max-width: 1280px;
  max-height: 552px;
  margin-bottom: 30px;
}
.news__block:nth-child(2n) {
  flex-direction: row-reverse;
}
.news__block:nth-child(2n) .news__content {
  padding-left: 27px;
}
.news__block:nth-child(2n-1) .news__content {
  padding-right: 27px;
}
.news__block:last-child {
  margin-bottom: 60px;
}
@media (max-width: 1280px) {
  .news__block {
    gap: 50px;
  }
}
@media (max-width: 885px) {
  .news__block {
    max-height: 100%;
    max-width: 550px;
    margin: 0 auto 30px auto;
  }
  .news__block:nth-child(2n), .news__block:nth-child(2n-1) {
    flex-direction: column;
  }
  .news__block:nth-child(2n) .news__content, .news__block:nth-child(2n-1) .news__content {
    padding: 0 27px;
  }
}
@media (max-width: 545px) {
  .news__block {
    max-width: 450px;
    gap: 30px;
  }
  .news__block:nth-child(2n) .news__content, .news__block:nth-child(2n-1) .news__content {
    padding: 0 17px;
  }
}
.news__content {
  box-sizing: border-box;
}
@media (max-width: 885px) {
  .news__content {
    width: 100%;
  }
}
.news__img {
  display: block;
  width: 50%;
}
@media (max-width: 885px) {
  .news__img {
    width: 100%;
  }
}
.news__number {
  margin-bottom: 24px;
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  color: #000000;
}
@media (max-width: 1280px) {
  .news__number {
    font-size: 28px;
    line-height: 100%;
  }
}
@media (max-width: 545px) {
  .news__number {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
.news__title {
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  color: #000000;
}
@media (max-width: 1280px) {
  .news__title {
    font-size: 23px;
    line-height: 23px;
    margin-bottom: 20px;
  }
}
@media (max-width: 545px) {
  .news__title {
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 15px;
  }
}
.news__description {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  color: #000000;
}
@media (max-width: 1280px) {
  .news__description {
    font-size: 17px;
    line-height: 26px;
  }
}
@media (max-width: 545px) {
  .news__description {
    font-size: 14px;
    line-height: 23px;
  }
}

.arrow-link {
  display: flex;
  align-items: center;
}
.arrow-link::after {
  content: "";
  display: block;
  position: relative;
  top: 2px;
  width: 10px;
  height: 6px;
  background-size: cover;
  margin-left: 8px;
}
.arrow-link_white::after {
  background: url(/images/icons/card_arrow_white.svg) center center no-repeat;
}
.arrow-link_black::after {
  background: url(/images/icons/card_arrow_black.svg) center center no-repeat;
}

.card-link {
  width: 109px;
  padding: 8px 12px;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  transition: 200ms ease-in;
}
.card-link::after {
  top: 1px;
  height: 8px;
}
.card-link:hover {
  background-color: #000000;
  color: #FFFFFF;
}
.card-link:hover::after {
  background: url(/images/icons/card_arrow_white.svg) center center no-repeat;
}

.sotial-list {
  display: flex;
  gap: 16px;
  align-items: center;
}
.sotial-list__img {
  height: 22px;
}

.contacts-list {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  max-width: 445px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  font-family: "Playfair Display", serif;
}
.contacts-list__elements {
  font-weight: 400;
}
.contacts-list__elements_address, .contacts-list__markers_address {
  display: flex;
  flex-direction: column;
  min-height: 205px;
}
.contacts-list__item {
  display: flex;
  margin-bottom: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
.contacts-list__item:last-child {
  margin-bottom: 0;
}
.contacts-list__item_phone {
  font-family: "Times New Roman";
}
.contacts-list__item_address {
  flex-grow: 1;
}

.footer {
  padding: 45px 0 40px 0;
  background-color: #000000;
}
.footer__container {
  max-width: 875px;
  margin: 0 auto;
}
@media (max-width: 885px) {
  .footer__container {
    max-width: 520px;
  }
}
@media (max-width: 545px) {
  .footer__container {
    padding: 0 10px;
  }
}
.footer__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__logo {
  color: #FFFFFF;
  margin-bottom: 40px;
}
.footer__logo .logo__text {
  font-size: 18px;
}
.footer__menu {
  margin-bottom: 58px;
}
@media (max-width: 885px) {
  .footer__menu {
    display: none;
  }
}
.footer__menu .menu__link {
  color: #FFFFFF;
}
.footer__menu .menu__link::after {
  display: none;
}
.footer__main {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 885px) {
  .footer__main {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 545px) {
  .footer__main {
    gap: 10px;
  }
}
.footer__list {
  color: #FFFFFF;
  max-width: 295px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
@media (max-width: 885px) {
  .footer__list {
    max-width: 350px;
  }
}
@media (max-width: 885px) {
  .footer__left {
    align-self: flex-start;
  }
}
.footer__form {
  width: 373px;
}
@media (max-width: 885px) {
  .footer__form {
    width: 100%;
  }
}
.footer__input {
  width: 100%;
  background-color: #1C1C1C;
  border: 1px solid #414141;
  margin-bottom: 15px;
  box-sizing: border-box;
  padding: 6px 9px;
  outline: none;
}
.footer__textarea, .footer__input {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  color: #FFFFFF;
}
.footer__textarea::-moz-placeholder, .footer__input::-moz-placeholder {
  color: #949393;
}
.footer__textarea::placeholder, .footer__input::placeholder {
  color: #949393;
}
.footer__textarea {
  min-height: 56px;
  resize: none;
}
.footer__button {
  display: block;
  margin-left: auto;
  padding: 8px 13px;
  background-color: #FFFFFF;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  border: 1px solid #000000;
  transition: 200ms ease-in;
  cursor: pointer;
}
.footer__button:hover {
  background-color: #000000;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}/*# sourceMappingURL=styles.css.map */